body {
    background: #5DADE2;
    color: white;
}
button {
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    background: #3498DB;
    color: white;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #2E86C1;
}

#stopwatch {
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#buttons {
    position: absolute;
    top: 51%;
    left: 49%;
    transform: translate(-51.6%, -45%);
}

#buttons li {
    display: inline;
    padding-left: 10px;
}
